<header>
  <div class="header-container">
    <h1>The Employee Hub</h1>
    <nav>
      <ul>
        <li>
          <a routerLink="dashboard" routerLinkActive="active">
            Dashboard
          </a>
        </li>
        <li>
          <a routerLink="employees" routerLinkActive="active">
            Employees
          </a>
        </li>
        <li>
          <a routerLink="employee/new" routerLinkActive="active">
            Add New Employee
          </a>
        </li>
      </ul>
    </nav>
  </div>
</header>